.sobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h2 {
    font-size: 60px;
    text-align: left;
    padding: 8%;
    margin-top: 15%;
}

.list_col-1 {
    grid-area: list-col-1;
    height: 100%;
    width: 50%;
    text-align: center;
  }
  
.list_col-2 {
    grid-area: list-col-2;
    text-align: center;
 }

#cris {
  height: 70%;
  margin-top: 15%;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(119, 65, 119);
  border-radius: 90%;
  margin-left: 19%;
  box-shadow: 6px 6px 10px 2px rgba(17, 17, 17, 0.637);
  position: relative;
}