.sobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h2 {
    font-size: 50px;
    text-align: left;
    padding: 8%;
    color: rgb(47, 22, 71);
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cinzel', serif;
}

blockquote {
  font-size: 80px;
}

.list_col-1 {
    grid-area: list-col-1;
    height: 100%;
    width: 50%;
    text-align: center;
  }
  
.list_col-2 {
    grid-area: list-col-2;
    text-align: center;
 }

 .grid-template-coluns-1 {
   background: rgba(224, 192, 255, 0.479);
   height: 70%;
   margin-top: 15%;
   margin-left: 10%;
 }

#cris {
  height: 67%;
  margin-top: 15%;
  border-width: 8px;
  margin-left: 19%;
  margin-bottom: 0px;
  box-shadow: 6px 6px 10px 2px rgba(17, 17, 17, 0.637);
  position: relative;
}

#frase {
  font-size: 20px;
  position: relative;
  margin-left: 19%;
  margin-top: 0px;
  padding: 0px;
}