
.flex-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.div-sobre{
  width: 48%;
  margin: 1%;
  height: 600px;
  background-color: rgb(212, 211, 211); 
  text-align: center;
}

.div-local {
  width: 48%;
  margin: 1%;
  height: 600px;
  background-color: rgb(173, 173, 173);
  align-items: center;
}

 .grid-template-coluns-1 {
   background: rgba(224, 192, 255, 0.479);
   height: 70%;
   margin-top: 15%;
   margin-left: 10%;
 }


 #cris {
  position: relative;
  height: 100%;
  border-width: 8px;
  box-shadow: 6px 6px 10px 2px rgba(17, 17, 17, 0.637);
}

/*#frase {
  font-size: 20px;
  position: relative;
  margin-top: 0px;
  padding: 0px;
} */