body
{
    background: rgba(241, 241, 241, 0.788);
    height: 100%;
    width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr minmax(500px, 65vh) 1fr;
        grid-template-areas: 
        "header header  header "
        "main     main   main"  
        "footer footer footer";
}

.test {
  position: fixed;
  font-size: 30px;
  background: blue;
  margin-bottom: 0px;
}

.main {
    grid-area: main;
}

section  {

  margin: auto;
}


p {
    font-size: 25px;
    line-height: 2.5rem;
    padding: 5%;
    padding-left: 8%;
    font-family: 'Playfair Display', serif;
    color: rgb(47, 22, 71);
}

h2 {
  font-size: 50px;
  margin: 40px;
  position: relative;
  padding-top: 50px;
  color: rgb(47, 22, 71);
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Cinzel', serif;
  text-align: center;
}



hr {
  box-shadow: 3px 3px 10px 1px rgba(17, 17, 17, 0.637);
  border-radius: 100%;
  width: 200px;
}

h3 {
  font-size: 30px;
  margin: 60px;
  color: rgb(47, 22, 71);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


footer {
  text-align: center;
  background-color: rgb(132, 100, 161);
  height: 100%;
}

#footer-img{
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 180px;
}
#copy {
  position: relative;
  margin-top: 0px;
  padding-top: 10px;
  color: aliceblue;
}
.historia {
  width: 100%;
  height: 150px;
  background-color: rgb(191, 158, 223);
}

#ft{
    font-size: 10px;
    line-height: 2.5rem;
    padding: 5%;
    padding-left: 8%;
    font-family: 'Playfair Display', serif;
    color: rgb(47, 22, 71);
    text-align: left;
}