body { 
    height:auto;
    width: auto;
    overflow: scroll;
        background: rgba(241, 241, 241, 0.788);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr minmax(300px, 65vh) 1fr;
}

.principal {
    width: 50%;
    height: 50%;
    position: relative;
}

header {
    background: black;
}

.titulo {
    color:  #FAEEFA;
    text-align: left;
    margin-left: 30px;
    position: relative;
    top: 40px;
    font-size: 30px;
}


nav {
    position: relative;
    position: absolute;
    top: 50px;
    right: 40px;
    bottom: 0px;
    margin: 20px, 10px, 20px, 20px;
    text-align: right;
    height: 40px;
}

nav li{
    display: inline ;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-style: 22px;
    text-decoration: none;
    font-size: 20px; 
    color:  #FAEEFA; 
    transition: 0.3s all;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

nav a:hover {
    font-size: 22px;
    transform: scale(1.2);
    text-decoration: underline; 
    text-shadow:
       0px 0px 8px black,
       0px 0px 8px#ac35acad,
       0px 0px 8px #ac35acad,
       0px 0px 8px #ac35acad;  
}

main {
   width: 100%;
   height: 500px;
   
}



footer {
    text-align: center;
    background: purple;
    margin: 0px;
    position: relative;
    top: 100px;
   height: 200px;

}

.rodape {
    width: 60px;
    height: 60px;
    position: relative;
    top: 50px;
}

.rodape-texto {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 20px;
}

/*Responsivo*/